.app-container {
	background-color: #eee;
	display: flex;
	padding-top: 50px;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	min-height: 100vh;
}

.ui.center.aligned.header,
.ui.centered.header,
.ui.grid > .row > [class*="right aligned"].column.column,
.ui.form .field > label {
	color: #232323;
}
