.app-container {
	background-color: #eee;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	font-size: calc(10px + 2vmin);
	min-height: 100vh;
}

.ui.center.aligned.header,
.ui.centered.header,
.ui.grid > .row > [class*="right aligned"].column.column,
.ui.form .field > label {
	color: #232323;
}

.list__container .ui.grid > .row > [class*="six wide"].column {
	display: flex;
	justify-content: space-around;
}

.col-xs-12 {
	width: 100%;
}

.col-xs-4 {
	width: 33.33%;
}

.col-lg-4 {
	width: 33.33%;
}

.col-lg-8 {
	width: 66.66%;
}

.item-border {
	border-bottom: 1px solid #bcbec0 !important;
	padding-bottom: 10px !important;
}

.border-right {
	padding-right: 1px solid #bcbec0 !important;
}

.ui.items > .item .meta {
	margin: 0 0 10px 0 !important;
	font-size: 1em;
	line-height: 1em;
	color: rgba(0, 0, 0, .6);
}
