.app-container {
	background-color: #eee;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	font-size: calc(10px + 2vmin);
	min-height: 100vh;
}

/* layout css  */
.ui.center.aligned.header,
.ui.centered.header,
.ui.grid > .row > [class*="right aligned"].column.column,
.ui.form .field > label {
	color: #232323;
}

.list__container .ui.grid > .row > [class*="six wide"].column {
	display: flex;
	justify-content: space-around;
}

.col-xs-12 {
	width: 100%;
}

.col-xs-4 {
	width: 33.33%;
}

.col-lg-4 {
	width: 33.33%;
}

.col-lg-8 {
	width: 66.66%;
}

.flex-container {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.text-center {
	text-align: center !important;
}

.item-border {
	border-bottom: 1px solid #bcbec0 !important;
	padding-bottom: 10px !important;
}

.border-right {
	padding-right: 1px solid #bcbec0 !important;
}

.ui.items > .item .meta {
	margin: 0 0 10px 0 !important;
	font-size: 1em;
	line-height: 1em;
	color: rgba(0, 0, 0, .6);
}

/* details css */
.ui.centered.grid {
	padding-left: 30px;
	padding-top: 10px;
}

.border-right {
	border-right: 10px solid white !important;
}
.col-lg-4 {
	padding-top: 15px;
}

.details-view h3.meta:last-child {
	border-bottom: none !important;
}

/* divider css */
.ui.vertical.divider {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 34% !important;
	margin: 0;
	padding: 0;
	width: auto;
	height: 50%;
	line-height: 0;
	text-align: center;
	transform: translateX(-50%);
}
